
*{
    padding: 0;
    margin: 0;
    font-family: Calibri;
    box-sizing: border-box;

}


.hero {
    /* background-image: url('image/Wallpaper_3840x2160.png'); */
    height: 100vh;
    width:100%;
    background-image: url('image/abstract.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    /* background-position: center; */
    }

 h1,p, form{
    color:white
 }   