/* table{
  width:100%;
} */

*{
  color:aliceblue
}

 .xth, .xtd {
  /* border: 1px solid black; */
  border-collapse: collapse;
}
.xth, .xtd {
  padding-top: 18px;
  padding-bottom: 18px;
  /* padding-right: 40px; */
}
.xprofile{
  padding-left: 30px;
}
.xtbody, tr td {
  padding-left: 50px;
}

.footer {
  /* position: fixed; */
  margin-top: 16px;
  left: 0;
  bottom: 0;
  width: auto;
  color: white;
  text-align: "center";
  height: 100px;
  background-color: #DDE6ED; /* For browsers that do not support gradients */
  background-image: linear-gradient(rgb(221, 230, 237),rgb(157, 178, 191));
  }
  
/* body{
  background-color: #EEEEEE; /* For browsers that do not support gradients */
